.formMess {
    position: fixed;
    top: 50px;
    left: 500px;
    width: 20%;
    border: 2px solid orange;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 25px 20px 60px;
}
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
}
.box {
    margin: 0 0 20px;
}
.box-mess {
    width: 100%;
    margin: 0 0 20px;
    padding: 5px;
    border: 2px solid orange;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: lightgreen;
}
.box-author {
    padding: 5px;
    border: 2px solid orange;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: lightgreen;
}