.Post {
    width: 320px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid lightgreen;
    background-color: lightgreen;
    border-radius: 10px;
    font-size: 16px;
    margin: 40px;
    position: relative;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.Post .mess {
    margin: 25px 15px;
    color: #000;
}

.Post .mess::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent lightgreen transparent;
}

.author{
    position: absolute;
    top: 3px;
    left: 10px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.datetime {
    position: absolute;
    bottom: 3px;
    right: 10px;
    color: gray;
    font-size: 14px;
}